/* Roboto-Light_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./Roboto-Light.eot');
  src: local('Roboto Light'),
        local('Roboto-Light'),
        url('./Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('./Roboto-Light_cyrillic-ext.woff2') format('woff2'),
        url('./Roboto-Light.woff') format('woff'),
        url('./Roboto-Light.ttf') format('truetype'),
        url('./Roboto-Light.svg#robotolight') format('svg');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* Roboto-Light_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./Roboto-Light.eot');
  src: local('Roboto Light'),
        local('Roboto-Light'),
        url('./Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('./Roboto-Light_cyrillic.woff2') format('woff2'),
        url('./Roboto-Light.woff') format('woff'),
        url('./Roboto-Light.ttf') format('truetype'),
        url('./Roboto-Light.svg#robotolight') format('svg');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* Roboto-Light_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./Roboto-Light.eot');
  src: local('Roboto Light'),
        local('Roboto-Light'),
        url('./Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('./Roboto-Light_latin-ext.woff2') format('woff2'),
        url('./Roboto-Light.woff') format('woff'),
        url('./Roboto-Light.ttf') format('truetype'),
        url('./Roboto-Light.svg#robotolight') format('svg');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* Roboto-Light_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./Roboto-Light.eot');
  src: local('Roboto Light'),
        local('Roboto-Light'),
        url('./Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('./Roboto-Light_latin.woff2') format('woff2'),
        url('./Roboto-Light.woff') format('woff'),
        url('./Roboto-Light.ttf') format('truetype'),
        url('./Roboto-Light.svg#robotolight') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Roboto-Regular_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Roboto-Regular.eot');
  src: local('Roboto'),
        local('Roboto-Regular'),
        url('./Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('./Roboto-Regular_cyrillic-ext.woff2') format('woff2'),
        url('./Roboto-Regular.woff') format('woff'),
        url('./Roboto-Regular.ttf') format('truetype'),
        url('./Roboto-Regular.svg#robotolight') format('svg');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* Roboto-Regular_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Roboto-Regular.eot');
  src: local('Roboto'),
        local('Roboto-Regular'),
        url('./Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('./Roboto-Regular_cyrillic.woff2') format('woff2'),
        url('./Roboto-Regular.woff') format('woff'),
        url('./Roboto-Regular.ttf') format('truetype'),
        url('./Roboto-Regular.svg#robotolight') format('svg');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* Roboto-Regular_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Roboto-Regular.eot');
  src: local('Roboto'),
        local('Roboto-Regular'),
        url('./Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('./Roboto-Regular_latin-ext.woff2') format('woff2'),
        url('./Roboto-Regular.woff') format('woff'),
        url('./Roboto-Regular.ttf') format('truetype'),
        url('./Roboto-Regular.svg#robotolight') format('svg');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* Roboto-Regular_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Roboto-Regular.eot');
  src: local('Roboto'),
        local('Roboto-Regular'),
        url('./Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('./Roboto-Regular_latin.woff2') format('woff2'),
        url('./Roboto-Regular.woff') format('woff'),
        url('./Roboto-Regular.ttf') format('truetype'),
        url('./Roboto-Regular.svg#robotolight') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Roboto-Medium_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'),
        local('Roboto-Medium'),
        url('./Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('./Roboto-Medium_cyrillic-ext.woff2') format('woff2'),
        url('./Roboto-Medium.woff') format('woff'),
        url('./Roboto-Medium.ttf') format('truetype'),
        url('./Roboto-Medium.svg#robotolight') format('svg');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* Roboto-Medium_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'),
        local('Roboto-Medium'),
        url('./Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('./Roboto-Medium_cyrillic.woff2') format('woff2'),
        url('./Roboto-Medium.woff') format('woff'),
        url('./Roboto-Medium.ttf') format('truetype'),
        url('./Roboto-Medium.svg#robotolight') format('svg');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* Roboto-Medium_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'),
        local('Roboto-Medium'),
        url('./Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('./Roboto-Medium_latin-ext.woff2') format('woff2'),
        url('./Roboto-Medium.woff') format('woff'),
        url('./Roboto-Medium.ttf') format('truetype'),
        url('./Roboto-Medium.svg#robotolight') format('svg');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* Roboto-Medium_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'),
        local('Roboto-Medium'),
        url('./Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('./Roboto-Medium_latin.woff2') format('woff2'),
        url('./Roboto-Medium.woff') format('woff'),
        url('./Roboto-Medium.ttf') format('truetype'),
        url('./Roboto-Medium.svg#robotolight') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Roboto-Bold_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'),
        local('Roboto-Bold'),
        url('./Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('./Roboto-Bold_cyrillic-ext.woff2') format('woff2'),
        url('./Roboto-Bold.woff') format('woff'),
        url('./Roboto-Bold.ttf') format('truetype'),
        url('./Roboto-Bold.svg#robotolight') format('svg');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* Roboto-Bold_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'),
        local('Roboto-Bold'),
        url('./Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('./Roboto-Bold_cyrillic.woff2') format('woff2'),
        url('./Roboto-Bold.woff') format('woff'),
        url('./Roboto-Bold.ttf') format('truetype'),
        url('./Roboto-Bold.svg#robotolight') format('svg');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* Roboto-Bold_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'),
        local('Roboto-Bold'),
        url('./Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('./Roboto-Bold_latin-ext.woff2') format('woff2'),
        url('./Roboto-Bold.woff') format('woff'),
        url('./Roboto-Bold.ttf') format('truetype'),
        url('./Roboto-Bold.svg#robotolight') format('svg');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* Roboto-Bold_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'),
        local('Roboto-Bold'),
        url('./Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('./Roboto-Bold_latin.woff2') format('woff2'),
        url('./Roboto-Bold.woff') format('woff'),
        url('./Roboto-Bold.ttf') format('truetype'),
        url('./Roboto-Bold.svg#robotolight') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
