body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica,Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #000000;
    background-color: #ffffff;
}

.banner {
    background-image: url(img/banner.avif) ;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 600px;
    margin: 5px;
    width: 100%;
    color: #ffffff;
}

.icon {
    width: 32px;
    height: 32px;
    margin: -4px 8px 8px 8px;
    float: right;
}

.products {
    padding-top: 20px;
    padding-bottom: 16px;
    padding-left: 15px;
    float: right;
    margin-right: 20px;
}

.linkitems1 {
    margin-top: 1px;
    padding: 16px 8px 10px 8px;
    height: 48px;
    outline-offset: -2px;
}

.linkitems:hover {
    text-decoration: underline;
}

.linkitems {
    text-decoration: none;
    color: black;
}

.click {
    cursor: pointer;
}

.logo {
    margin-top: 1px;
    float: left;
    width: 110px;
    padding: 20px 6px 16px 10px;
    outline-offset: -2px;
    margin-top: -3px;
}

.menuitems {
    font-size: 13px;
    text-align: left;
    display: block;
    height: 54px;
    margin-bottom: 2px;
    padding-left: 60px;
    padding-right: 60px;
}

.leftside {
    border: 1px solid transparent;
    color: #262626;
    display: inline-block;
    height: 49px;
    padding-top: 19px;
    margin-left: 5px;
}

#bannerimage {
    height: 475px;
    margin: 5px;
    margin-top: -15px;
}

.search {
    height: 20px;
    float: right;
    margin-left: 5px;
    transform: scaleX(-1);
    margin-right: 15px;
}

.searchtext {
    float: right;
    margin-top: 20px;
}

.profilelogin {
    float: right;
    margin: 20px;
}

#bannertext {
    position: absolute;
    margin-top: 110px;
    width: 300px;
    inline-size: none;
    margin-left: 120px;
    font-size: 2.2em;
    font-weight: 600;
    line-height: 1;
}

#bannerparagraph {
    position:absolute;
    margin-top: 280px;
    width: 360px;
    margin-left: 120px;
}

#bannerbutton {
    position: absolute;
    color: #5d5bd4;
    border: solid 2px;
    border-radius: 1px;
    border-color: #5d5bd4;
    height: 40px;
    width: 150px;
    font-weight: 600;
    margin-left: 120px;
    margin-top: 340px;
    font-size: 16px;

}

h1{
    font-weight: 600;
}